asgiref==3.11.1
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
cryptography==46.0.5
Django==6.0.3
django-cors-headers==4.9.0
django-extensions==4.1
django-microsoft-auth==3.0.1
djangorestframework==3.17.0
idna==3.11
MarkupSafe==3.0.3
ms-identity-web==0.0.4
msal==1.35.1
oauthlib==3.3.1
psycopg2-binary==2.9.11
pycparser==3.0
PyJWT==2.12.1
pyOpenSSL==26.0.0
python-dotenv==1.2.2
requests==2.32.5
requests-oauthlib==2.0.0
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.6.3
Werkzeug==3.1.6
